ul li {
  list-style-type: none;
  display: flex;
  gap: 4px;
  width: auto;
  align-items: center;
  padding: 0 10px;
  background-color: #ddd;
}

.remove {
  margin-left: auto;
  padding: 2px 10px;
  height: 25px;
  cursor: pointer;
}

ul {
  padding-left: 0;
  border: 5px solid #444;
  border-radius: 10px;
}

button,
input {
  display: block;
}

main {
  width: 100%;
  margin: 0 auto;
  font-family: fantasy;
  margin-top: 80px;
}

body {
  background: url(background.jpg) no-repeat;
  background-size: cover;
}

input {
  margin-bottom: 10px;
}

#list-section {
  width: 90%;
  margin: auto;
  display: block;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 3em;
  margin-top: 0;
}

hr {
  border: 2px solid #000;
  border-radius: 50%;
  width: 60%;
}

#form-section {
  width: 40%;
  margin: 0 auto;
  position: relative;
  display: none;
}

form input {
  width: 100%;
  height: 40px;
  padding: 0;
  border: 2px solid #444;
  border-radius: 5px;
  margin-bottom: 20px;
}

form input::placeholder {
  font-style: italic;
  color: #222;
  padding: 10px;
  font-size: 15px;
}

#add-btn {
  float: right;
  padding: 7px 18px;
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
}

#add-btn:hover {
  background-color: #109437;
  color: white;
}

p {
  font-family: sans-serif;
}

.bg-white {
  background-color: white;
}

button {
  box-shadow: rgba(0, 0, 0, 0.4) 5px 5px;
  border: 2px solid #444;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 3px;
}

header,
footer {
  margin: 10px;
  border: 3px solid #222;
  display: flex;
  border-radius: 5px;
  padding: 0 40px;
  justify-content: space-between;
  background-color: rgba(221, 221, 221, 0.596);
}

nav {
  width: 320px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  font-weight: bolder;
  font-family:monospace;
}

nav div:hover {
  color: #0000ff;
}

nav div:nth-child(2):hover,
nav div:nth-child(4):hover {
  color: #000;
}

h2 {
  font-family: fantasy;
}

main {
  margin-top: 50px;
}

footer h2 {
  font-size: 20px;
  font-weight: bolder;
}

footer {
  position: absolute;
  width: 90.4%;
  bottom: 0;
}

#contact-section {
  width: 70%;
  margin: 0 auto;
  display: none;
}

#contact-section p, div {
  font-size: 20px;
}

#contact-section div {
  padding-left: 50px;
  font-family: initial;
  line-height: 35px;
}

#contact-section div strong {
  font-size: 80px;
}
